extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="", method="post")
    div
      label(for="newUri") Url:
    div
      textarea(name="newUri", cols="140", rows="5", placeholder="http://...")
    div
      input(type="submit", value="Save")

  p
    | Stats: Total downloads: #{length} - 
    | Total unique downloads: <b>#{difflength}</b>
  ul
    each val, index in values
      li= val.date + "\t from ip: " + val.ip
